/* debut header */
*{
    margin: 0;
    padding: 0;
}
.logo{
   
 
}
.bloc-page{
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 5%; */
}
.search{
    /* background-color: black; */
    width: 230px;
    position: absolute;
    right: -2%;
    top: 2px;
   
}
#bouton{
    background-color: rgb(8, 8, 247);
    color: white;
    margin-top: 25px;
    position: absolute;
    left: -2px;
    padding: 5px 37px
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: cadetblue;
}
/* fin header */




/* Debut section */
#section1{
    /* background-color: pink; */
    margin-top: 60px;
    color: #fff;
    display: inline-block;
}
#section1 .partie1{
    background-color: blue;
    width: 30%;
}
#section1 .partie2{
    background-color: green;
    width: 30%;
}
#section1 .partie3{
    background-color: red;
    width: 30%;
}
.partie1,.partie2,.partie3{
    display: inline-block
}
#imgp1{
    width: 30%;
}
/* .div1{
    background-image: url("../images/fond.jpg");
    height: 120px;
    padding-bottom: 20px;
    /* background-size: cover; */

     
/* fin section */
