body{
    background-color: black;
    height: 1000px;
}
.image{
    width: 90%;
    height: 500px;
    position: absolute;
    top: 70px;
    left: 40px;
}
.section{
    background-color: red;
    width: 90%;
    height: 90px;
    position: absolute;
    top: 571px;
    left: 40px;
}
h1{
    color: white;
    position: absolute;
    top: 240px;
    left: 300px;
}
.p1{
    color: white;
    position: absolute;
    top: 290px;
    left: 170px;
    /* border: 1px solid red; */
    width: 70%;
}
.p2{
    color: white;
    position: absolute;
    top: 310px;
    left: 250px;
    /* border: 1px solid red; */
    width: 70%;
}
.p3{
   color: white;
   border: 1px solid red;
   position: absolute;
   top: 395px;
   width: 15%;
   height: 70px;
   background-color: red;
   left: 300px;
}
.p4{
    color: white;
    border: 1px solid red;
    position: absolute;
    top: 395px;
    width: 15%;
    height: 70px;
    left: 550px;  
}
.p3 a{
    text-decoration: none;
    color: white;
    position: absolute;
    left:25px;
    top: 15px;
    font-size: 30px
}
.p4 a{
    text-decoration: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 30px
    
}
h2{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 10px;
     bottom: -6px
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    font-size: 22px;  
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul{
    position: absolute;
    left: 400px;
    bottom: 16px
}
.lien{
    border: 1px solid black;
    position: absolute;
    top: 750px;   
}
